.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 120px 1fr 80px 80px;
    font-size: 16px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
    .videoPlayer__column:nth-child(2) {
      #videoBar {
        width: 100%;
        height: 100%;
        border: 1px solid black;
      }
    }
    .videoPlayer__column:nth-child(3) {
      justify-self: center;
      align-self: center;
      span {
        display: block;
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
      span {
        margin-right: 10px;
      }
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
